<div class="p-4">
    <p class="text-2xl font-semibold">Dependentes:</p>

    <ng-container *ngIf="dependentsList?.length === 0; else dependentsListTemplate">
        <div>
            <p>O usuário não possui dependentes</p>
        </div>
    </ng-container>
    
    <ng-template #dependentsListTemplate>
        <div *ngFor="let dependent of dependentsList" class="p-4 grid gap-4">
            <div class="grid sm:grid-cols-3">
                <app-user-info-item label="Nome" [value]="dependent?.name"></app-user-info-item>
                <app-user-info-item label="Idade" [value]="dependent?.age?.toString()"></app-user-info-item>
                <app-user-info-item label="Documento" [value]="dependent.document | cpf: true"></app-user-info-item>
            </div>
            <hr class="sm:hidden">
        
        </div>
    </ng-template>

</div>
