<div class="p-4 grid gap-4">
    <p class="text-2xl font-semibold">Telefones:</p>
    <div class="p-4 grid gap-4 lg:grid-cols-3">
        <app-user-info-item label="Residencial" value="+ 55 19 00000000"></app-user-info-item>
        <app-user-info-item label="Celular" value="+ 55 19 00000000"></app-user-info-item>
        <app-user-info-item label="Emergência" value="-"></app-user-info-item>
    </div>

    <p class="text-2xl font-semibold">Endereços:</p>
    <div class="p-4 grid sm:grid-cols-2 lg:grid-cols-6">
        <app-user-info-item label="Tipo" value="Residencial"></app-user-info-item>
        <app-user-info-item label="Rua" value="Rua Exemplo"></app-user-info-item>
        <app-user-info-item label="Complemento" value="Prox. ao parque"></app-user-info-item>
        <app-user-info-item label="País" value="Brasil"></app-user-info-item>
        <app-user-info-item label="Estado" value="São Paulo"></app-user-info-item>
        <app-user-info-item label="Cidade" value="SBO"></app-user-info-item>
    </div>
    
    <hr class="lg:hidden" />

</div>